<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.service.dao.common.WbPaySecretDao">

	<resultMap id="BASE-RESULT" type="com.yd.service.bean.common.WbPaySecret">
		<result property="id" column="id" />
		<result property="wbPublicKey" column="wb_public_key" />
		<result property="wbPrivateKey" column="wb_private_key" />
		<result property="createTime" column="create_time" />
		<result property="remark" column="remark" />
	</resultMap>
	
	<delete id="deleteWbPaySecretById">
		DELETE FROM wb_pay_secret WHERE id = #{id}
	</delete>
	
	<select id="findWbPaySecretById" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			wb_pay_secret
		WHERE
			id = #{id}
	</select>
	
	<select id="getWbPaySecretCount" parameterType="map" resultType="int">
		SELECT 
			count(*)
		FROM 
			wb_pay_secret
		<where>
  			<if test="id!=null">
  				 id = #{id}
  			</if>
  			<if test="wbPublicKey!=null">
  				AND wb_public_key = #{wbPublicKey}
  			</if>
  			<if test="wbPrivateKey!=null">
  				AND wb_private_key = #{wbPrivateKey}
  			</if>
  			<if test="createTime!=null">
  				AND create_time = #{createTime}
  			</if>
  			<if test="remark!=null">
  				AND remark = #{remark}
  			</if>
		</where>
	</select>
	
	<select id="findWbPaySecretsByPage" parameterType="map" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			wb_pay_secret
		<where>
  			<if test="param.id!=null">
  				 id = #{param.id}
  			</if>
  			<if test="param.wbPublicKey!=null">
  				AND wb_public_key = #{param.wbPublicKey}
  			</if>
  			<if test="param.wbPrivateKey!=null">
  				AND wb_private_key = #{param.wbPrivateKey}
  			</if>
  			<if test="param.createTime!=null">
  				AND create_time = #{param.createTime}
  			</if>
  			<if test="param.remark!=null">
  				AND remark = #{param.remark}
  			</if>
		</where>
		LIMIT 
			#{offset},#{rows}
	</select>
	
  	<insert id="insert" parameterType="com.yd.service.bean.common.WbPaySecret">
  		INSERT INTO wb_pay_secret ( 
			`id`,`wb_public_key`,`wb_private_key`,`create_time`,`remark`			
  		) VALUES (
			#{id},#{wbPublicKey},#{wbPrivateKey},#{createTime},#{remark}			
  		)   
    	<selectKey resultType="Integer" keyProperty="id">    
      		SELECT LAST_INSERT_ID()     
		</selectKey>
  	</insert>
  	 
  	 
</mapper>