<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.service.crawer.dao.CrawerSiteBrandDao">

	<resultMap id="BASE-RESULT" type="com.yd.service.crawer.bean.CrawerSiteBrand">
		<result property="id" column="id" />
		<result property="siteName" column="site_name" />
		<result property="brand" column="brand" />
		<result property="indexUrl" column="index_url" />
		<result property="createTime" column="create_time" />
		<result property="searchUrl" column="search_url" />
		<result property="refererUrl" column="referer_url" />
	</resultMap>
	
	<delete id="deleteCrawerSiteBrandById">
		DELETE FROM crawer_site_brand WHERE id = #{id}
	</delete>
	
	<select id="findCrawerSiteBrandById" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			crawer_site_brand
		WHERE
			id = #{id}
	</select>
	
	<select id="getCrawerSiteBrandCount" parameterType="map" resultType="int">
		SELECT 
			count(*)
		FROM 
			crawer_site_brand
		<where>

		</where>
	</select>
	
	<select id="findCrawerSiteBrandsByPage" parameterType="map" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			crawer_site_brand
		<where>

		</where>
		LIMIT 
			#{offset},#{rows}
	</select>
	
  	<insert id="insert" parameterType="com.yd.service.crawer.bean.CrawerSiteBrand">
  		INSERT INTO crawer_site_brand ( 
			`id`,`site_name`,`brand`,`index_url`,`create_time`			
  		) VALUES (
			#{id},#{siteName},#{brand},#{indexUrl},#{createTime}			
  		)   
    	<selectKey resultType="Integer" keyProperty="id">    
      		SELECT LAST_INSERT_ID()     
		</selectKey>
  	</insert>
  	 
  	 
</mapper>