<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.service.dao.login.YdLoginSessionDao" >
    <resultMap id="resultMap" type="com.yd.service.bean.login.YdLoginSession" >
        <id column="id" property="id" jdbcType="INTEGER" />
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
        
        <result column="login_user_id" property="loginUserId" jdbcType="INTEGER" />
        
        <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
        
        <result column="user_source" property="userSource" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        login_time,
        login_user_id,
        session_id,
        user_source
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="loginTime!=null and loginTime!=''">
        and login_time = #{loginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="loginUserId!=null">
        and login_user_id = #{loginUserId,jdbcType=INTEGER}
        </if>
        <if test="sessionId!=null and sessionId!=''">
        and session_id = #{sessionId,jdbcType=VARCHAR}
        </if>
        <if test="userSource!=null and userSource!=''">
        and user_source = #{userSource,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getYdLoginSessionById" resultMap="resultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from yd_login_session
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAll" parameterType="com.yd.service.bean.login.YdLoginSession" resultMap="resultMap">
        select * from yd_login_session where 1=1
        <include refid="where" />
    </select>

    <insert id="insertYdLoginSession" parameterType="com.yd.service.bean.login.YdLoginSession" useGeneratedKeys="true" keyProperty="id" >
        insert into yd_login_session (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{loginTime,jdbcType=TIMESTAMP},
        #{loginUserId,jdbcType=INTEGER},
        #{sessionId,jdbcType=VARCHAR},
        #{userSource,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateYdLoginSession" parameterType="com.yd.service.bean.login.YdLoginSession" >
        update yd_login_session
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginTime != null" >
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="loginUserId != null" >
                login_user_id = #{loginUserId,jdbcType=INTEGER},
            </if>
            <if test="sessionId != null" >
                session_id = #{sessionId,jdbcType=VARCHAR},
            </if>
            <if test="userSource != null" >
                user_source = #{userSource,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>