<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.service.dao.merchant.YdMerchantChannelDao" >

    <resultMap id="YdMerchantChannelMap" type="com.yd.service.bean.merchant.YdMerchantChannel" >
        <id column="id" property="id" jdbcType="INTEGER" />

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        
        <result column="invite_url" property="inviteUrl" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        merchant_id,
        invite_url
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="merchantId!=null">
        and merchant_id = #{merchantId,jdbcType=INTEGER}
        </if>
        <if test="inviteUrl!=null and inviteUrl!=''">
        and invite_url = #{inviteUrl,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getYdMerchantChannelById" resultMap="YdMerchantChannelMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from yd_merchant_channel
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getYdMerchantChannelByMerchantId" resultMap="YdMerchantChannelMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from yd_merchant_channel
        where merchant_id = #{merchantId,jdbcType=INTEGER}
    </select>
        
	<select id="getYdMerchantChannelCount" parameterType="com.yd.service.bean.merchant.YdMerchantChannel" resultType="int">
        select count(1) from yd_merchant_channel where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findYdMerchantChannelListByPage" resultMap="YdMerchantChannelMap">
        select * from yd_merchant_channel where 1=1 
		order by update_time desc
		limit 0, 10
    </select>
	
	<select id="getAll" parameterType="com.yd.service.bean.merchant.YdMerchantChannel" resultMap="YdMerchantChannelMap">
        select * from yd_merchant_channel where 1=1 
        <include refid="where" />
		order by update_time desc
    </select>
    
  
    <insert id="insertYdMerchantChannel" parameterType="com.yd.service.bean.merchant.YdMerchantChannel" useGeneratedKeys="true" keyProperty="id" >
        insert into yd_merchant_channel (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{merchantId,jdbcType=INTEGER},
        #{inviteUrl,jdbcType=VARCHAR}
        )
    </insert>
    
    
    <update id="updateYdMerchantChannel" parameterType="com.yd.service.bean.merchant.YdMerchantChannel" >
        update yd_merchant_channel
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="inviteUrl != null" >
                invite_url = #{inviteUrl,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>