<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>快抢管理后台</title>
    <link href=https://prev-c1.51jujibao.com/static/mod/youduERP/static/css/app.5ed435f172877f6459d045a70272f190.css
          rel=stylesheet>
</head>
<body>
<div id=app></div>
<input type=file id=pickfiles style="display: none">
<script></script>
<script type=text/javascript
        src=https://prev-c1.51jujibao.com/static/mod/youduERP/static/js/manifest.f6859dbeceafe3eb994e.js></script>
<script type=text/javascript
        src=https://prev-c1.51jujibao.com/static/mod/youduERP/static/js/vendor.d1a9f7aae763e4a27cd6.js></script>
<script type=text/javascript
        src=https://prev-c1.51jujibao.com/static/mod/youduERP/static/js/app.c21b7e0043179504a6b9.js></script>
</body>
</html>