<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.service.dao.order.YdSupplerGiftOrderDao" >

    <resultMap id="YdSupplerGiftOrderMap" type="com.yd.service.bean.order.YdSupplerGiftOrder" >
        <id column="id" property="id" jdbcType="INTEGER" />
        
        
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        
        <result column="out_order_id" property="outOrderId" jdbcType="VARCHAR" />
        
        <result column="type" property="type" jdbcType="VARCHAR" />
        
        <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
        
        <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
        
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        
        <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
        
        <result column="gift_id" property="giftId" jdbcType="INTEGER" />
        
        <result column="realname" property="realname" jdbcType="VARCHAR" />
        
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        
        <result column="province_id" property="provinceId" jdbcType="INTEGER" />
        
        <result column="province" property="province" jdbcType="VARCHAR" />
        
        <result column="city_id" property="cityId" jdbcType="INTEGER" />
        
        <result column="city" property="city" jdbcType="VARCHAR" />
        
        <result column="district_id" property="districtId" jdbcType="INTEGER" />
        
        <result column="district" property="district" jdbcType="VARCHAR" />
        
        <result column="address" property="address" jdbcType="VARCHAR" />
        
        <result column="express_company" property="expressCompany" jdbcType="VARCHAR" />
        
        <result column="express_company_number" property="expressCompanyNumber" jdbcType="VARCHAR" />
        
        <result column="express_order_id" property="expressOrderId" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        out_order_id,
        type,
        pay_status,
        order_status,
        user_id,
        supplier_id,
        gift_id,
        realname,
        mobile,
        province_id,
        province,
        city_id,
        city,
        district_id,
        district,
        address,
        express_company,
        express_company_number,
        express_order_id
    </sql>
    
    <sql id="where">
        <if test="id!=null">
        and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="outOrderId!=null and outOrderId!=''">
        and out_order_id = #{outOrderId,jdbcType=VARCHAR}
        </if>
        <if test="type!=null and type!=''">
        and type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="payStatus!=null and payStatus!=''">
        and pay_status = #{payStatus,jdbcType=VARCHAR}
        </if>
        <if test="orderStatus!=null and orderStatus!=''">
        and order_status = #{orderStatus,jdbcType=VARCHAR}
        </if>
        <if test="userId!=null">
        and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="supplierId!=null">
        and supplier_id = #{supplierId,jdbcType=INTEGER}
        </if>
        <if test="giftId!=null">
        and gift_id = #{giftId,jdbcType=INTEGER}
        </if>
        <if test="realname!=null and realname!=''">
        and realname = #{realname,jdbcType=VARCHAR}
        </if>
        <if test="mobile!=null and mobile!=''">
        and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="provinceId!=null">
        and province_id = #{provinceId,jdbcType=INTEGER}
        </if>
        <if test="province!=null and province!=''">
        and province = #{province,jdbcType=VARCHAR}
        </if>
        <if test="cityId!=null">
        and city_id = #{cityId,jdbcType=INTEGER}
        </if>
        <if test="city!=null and city!=''">
        and city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="districtId!=null">
        and district_id = #{districtId,jdbcType=INTEGER}
        </if>
        <if test="district!=null and district!=''">
        and district = #{district,jdbcType=VARCHAR}
        </if>
        <if test="address!=null and address!=''">
        and address = #{address,jdbcType=VARCHAR}
        </if>
        <if test="expressCompany!=null and expressCompany!=''">
        and express_company = #{expressCompany,jdbcType=VARCHAR}
        </if>
        <if test="expressCompanyNumber!=null and expressCompanyNumber!=''">
        and express_company_number = #{expressCompanyNumber,jdbcType=VARCHAR}
        </if>
        <if test="expressOrderId!=null and expressOrderId!=''">
        and express_order_id = #{expressOrderId,jdbcType=VARCHAR}
        </if>
    </sql>
    
    <select id="getYdSupplerGiftOrderById" resultMap="YdSupplerGiftOrderMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from yd_suppler_gift_order
        where id = #{id,jdbcType=INTEGER}
    </select>
        
	<select id="getYdSupplerGiftOrderCount" parameterType="com.yd.service.bean.order.YdSupplerGiftOrder" resultType="int">
        select count(1) from yd_suppler_gift_order where 1=1 
        <include refid="where" />
    </select>
	
	<select id="findYdSupplerGiftOrderListByPage" resultMap="YdSupplerGiftOrderMap">
        select * from yd_suppler_gift_order where 1=1 
		order by update_time desc
		limit #{pageStart}, #{pageSize}
    </select>
	
	<select id="getAll" parameterType="com.yd.service.bean.order.YdSupplerGiftOrder" resultMap="YdSupplerGiftOrderMap">
        select * from yd_suppler_gift_order where 1=1 
        <include refid="where" />
		order by update_time desc
    </select>
    
  
    <insert id="insertYdSupplerGiftOrder" parameterType="com.yd.service.bean.order.YdSupplerGiftOrder" useGeneratedKeys="true" keyProperty="id" >
        insert into yd_suppler_gift_order (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{outOrderId,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{payStatus,jdbcType=VARCHAR},
        #{orderStatus,jdbcType=VARCHAR},
        #{userId,jdbcType=INTEGER},
        #{supplierId,jdbcType=INTEGER},
        #{giftId,jdbcType=INTEGER},
        #{realname,jdbcType=VARCHAR},
        #{mobile,jdbcType=VARCHAR},
        #{provinceId,jdbcType=INTEGER},
        #{province,jdbcType=VARCHAR},
        #{cityId,jdbcType=INTEGER},
        #{city,jdbcType=VARCHAR},
        #{districtId,jdbcType=INTEGER},
        #{district,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR},
        #{expressCompany,jdbcType=VARCHAR},
        #{expressCompanyNumber,jdbcType=VARCHAR},
        #{expressOrderId,jdbcType=VARCHAR}
        )
    </insert>
    
    
    <update id="updateYdSupplerGiftOrder" parameterType="com.yd.service.bean.order.YdSupplerGiftOrder" >
        update yd_suppler_gift_order
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outOrderId != null" >
                out_order_id = #{outOrderId,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="payStatus != null" >
                pay_status = #{payStatus,jdbcType=VARCHAR},
            </if>
            <if test="orderStatus != null" >
                order_status = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="supplierId != null" >
                supplier_id = #{supplierId,jdbcType=INTEGER},
            </if>
            <if test="giftId != null" >
                gift_id = #{giftId,jdbcType=INTEGER},
            </if>
            <if test="realname != null" >
                realname = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null" >
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="province != null" >
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null" >
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="districtId != null" >
                district_id = #{districtId,jdbcType=INTEGER},
            </if>
            <if test="district != null" >
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="expressCompany != null" >
                express_company = #{expressCompany,jdbcType=VARCHAR},
            </if>
            <if test="expressCompanyNumber != null" >
                express_company_number = #{expressCompanyNumber,jdbcType=VARCHAR},
            </if>
            <if test="expressOrderId != null" >
                express_order_id = #{expressOrderId,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>