<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.service.dao.coupon.YdUserCouponDao" >

    <resultMap id="YdUserCouponMap" type="com.yd.service.bean.coupon.YdUserCoupon" >
        <id column="id" property="id" jdbcType="INTEGER" />

        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

        <result column="user_id" property="userId" jdbcType="INTEGER" />

        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />

        <result column="coupon_id" property="couponId" jdbcType="INTEGER" />

        <result column="coupon_title" property="couponTitle" jdbcType="VARCHAR" />

        <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />

        <result column="coupon_price" property="couponPrice" jdbcType="INTEGER" />

        <result column="coupon_desc" property="couponDesc" jdbcType="LONGVARCHAR" />

        <result column="use_condition_price" property="useConditionPrice" jdbcType="DECIMAL" />

        <result column="use_range_type" property="useRangeType" jdbcType="VARCHAR" />

        <result column="can_use_item_ids" property="canUseItemIds" jdbcType="VARCHAR" />

        <result column="valid_start_time" property="validStartTime" jdbcType="TIMESTAMP" />

        <result column="valid_end_time" property="validEndTime" jdbcType="TIMESTAMP" />

        <result column="nickname" property="nickname" jdbcType="VARCHAR" />

        <result column="mobile" property="mobile" jdbcType="VARCHAR" />

        <result column="use_status" property="useStatus" jdbcType="VARCHAR" />

        <result column="use_time" property="useTime" jdbcType="TIMESTAMP" />

        <result column="out_order_id" property="outOrderId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        user_id,
        merchant_id,
        coupon_id,
        coupon_title,
        coupon_type,
        coupon_price,
        coupon_desc,
        use_condition_price,
        use_range_type,
        can_use_item_ids,
        valid_start_time,
        valid_end_time,
        nickname,
        mobile,
        use_status,
        use_time,
        out_order_id
    </sql>

    <sql id="where">
        <if test="id!=null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="userId!=null">
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="merchantId!=null">
            and merchant_id = #{merchantId,jdbcType=INTEGER}
        </if>
        <if test="couponId!=null">
            and coupon_id = #{couponId,jdbcType=INTEGER}
        </if>
        <if test="couponTitle!=null and couponTitle!=''">
            and coupon_title = #{couponTitle,jdbcType=VARCHAR}
        </if>
        <if test="couponType!=null and couponType!=''">
            and coupon_type = #{couponType,jdbcType=VARCHAR}
        </if>
        <if test="couponPrice!=null">
            and coupon_price = #{couponPrice,jdbcType=INTEGER}
        </if>
        <if test="couponDesc!=null and couponDesc!=''">
            and coupon_desc = #{couponDesc,jdbcType=LONGVARCHAR}
        </if>
        <if test="useConditionPrice!=null and useConditionPrice!=''">
            and use_condition_price = #{useConditionPrice,jdbcType=DECIMAL}
        </if>
        <if test="useRangeType!=null and useRangeType!=''">
            and use_range_type = #{useRangeType,jdbcType=VARCHAR}
        </if>
        <if test="canUseItemIds!=null and canUseItemIds!=''">
            AND IF (
            use_range_type = 'ITEM',
            can_use_item_ids LIKE CONCAT(CONCAT('%', #{canUseItemIds}), '%'),
            1 = 1
            )
        </if>
        <if test="validStartTime!=null and validStartTime!=''">
            and valid_start_time = #{validStartTime,jdbcType=TIMESTAMP}
        </if>
        <if test="validEndTime!=null and validEndTime!=''">
            and valid_end_time = #{validEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="nickname!=null and nickname!=''">
            and nickname = #{nickname,jdbcType=VARCHAR}
        </if>
        <if test="mobile!=null and mobile!=''">
            and mobile = #{mobile,jdbcType=VARCHAR}
        </if>
        <if test="useStatus!=null and useStatus!=''">
            and use_status = #{useStatus}
        </if>
        <if test="useTime!=null and useTime!=''">
            and use_time = #{useTime,jdbcType=TIMESTAMP}
        </if>
        <if test="outOrderId!=null and outOrderId!=''">
            and out_order_id = #{outOrderId,jdbcType=VARCHAR}
        </if>
        <if test="couponStatus!=null and couponStatus!='' and couponStatus == 'CAN_USE' ">
            and use_status = 'N' and valid_end_time &gt; now()
        </if>
        <if test="couponStatus!=null and couponStatus!='' and couponStatus == 'NOT_USE' ">
            and (use_status = 'Y' or valid_end_time &lt; now() )
        </if>
    </sql>

    <select id="getYdUserCouponById" resultMap="YdUserCouponMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from yd_user_coupon
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getYdUserCouponByOutOrderId" resultMap="YdUserCouponMap" >
        select
        <include refid="Base_Column_List" />
        from yd_user_coupon
        where out_order_id = #{outOrderId}
    </select>

    <select id="getYdUserCouponCount" parameterType="com.yd.service.bean.coupon.YdUserCoupon" resultType="int">
        select count(1) from yd_user_coupon where 1=1
        <include refid="where" />
    </select>

    <select id="findYdUserCouponListByPage" resultMap="YdUserCouponMap">
        select * from yd_user_coupon where 1=1
        <if test="params.id!=null">
            and id = #{params.id,jdbcType=INTEGER}
        </if>
        <if test="params.createTime!=null and params.createTime!=''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="params.updateTime!=null and params.updateTime!=''">
            and update_time = #{params.updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="params.userId!=null">
            and user_id = #{params.userId,jdbcType=INTEGER}
        </if>
        <if test="params.merchantId!=null">
            and merchant_id = #{params.merchantId,jdbcType=INTEGER}
        </if>
        <if test="params.couponId!=null">
            and coupon_id = #{params.couponId,jdbcType=INTEGER}
        </if>
        <if test="params.couponTitle!=null and params.couponTitle!=''">
            and coupon_title = #{params.couponTitle,jdbcType=VARCHAR}
        </if>
        <if test="params.couponType!=null and params.couponType!=''">
            and coupon_type = #{params.couponType,jdbcType=VARCHAR}
        </if>
        <if test="params.couponPrice!=null">
            and coupon_price = #{params.couponPrice,jdbcType=INTEGER}
        </if>
        <if test="params.couponDesc!=null and params.couponDesc!=''">
            and coupon_desc = #{params.couponDesc,jdbcType=LONGVARCHAR}
        </if>
        <if test="params.useConditionPrice!=null and params.useConditionPrice!=''">
            and use_condition_price = #{params.useConditionPrice,jdbcType=DECIMAL}
        </if>
        <if test="params.useRangeType!=null and params.useRangeType!=''">
            and use_range_type = #{params.useRangeType,jdbcType=VARCHAR}
        </if>
        <if test="params.canUseItemIds!=null and params.canUseItemIds!=''">
            AND IF (
            use_range_type = 'ITEM',
            can_use_item_ids LIKE CONCAT(CONCAT('%', #{params.canUseItemIds}), '%'),
            1 = 1
            )
        </if>
        <if test="params.validStartTime!=null and params.validStartTime!=''">
            and valid_start_time = #{params.validStartTime,jdbcType=TIMESTAMP}
        </if>
        <if test="params.validEndTime!=null and params.validEndTime!=''">
            and valid_end_time = #{params.validEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="params.nickname!=null and params.nickname!=''">
            and nickname = #{params.nickname,jdbcType=VARCHAR}
        </if>
        <if test="params.mobile!=null and params.mobile!=''">
            and mobile = #{params.mobile,jdbcType=VARCHAR}
        </if>
        <if test="params.useStatus!=null and params.useStatus!=''">
            and use_status = #{params.useStatus,jdbcType=VARCHAR}
        </if>
        <if test="params.useTime!=null and params.useTime!=''">
            and use_time = #{params.useTime,jdbcType=TIMESTAMP}
        </if>
        <if test="params.outOrderId!=null and params.outOrderId!=''">
            and out_order_id = #{params.outOrderId,jdbcType=VARCHAR}
        </if>
        <if test="params.couponStatus!=null and params.couponStatus!='' and params.couponStatus == 'CAN_USE' ">
            and use_status = 'N' and valid_end_time &gt; now()
        </if>
        <if test="params.couponStatus!=null and params.couponStatus!='' and params.couponStatus == 'NOT_USE' ">
            and (use_status = 'Y' or valid_end_time &lt; now())
        </if>
		order by update_time desc
		limit #{pageStart}, #{pageSize}
    </select>

    <select id="getAll" parameterType="com.yd.service.bean.coupon.YdUserCoupon" resultMap="YdUserCouponMap">
        select * from yd_user_coupon where 1=1
        <include refid="where" />
        order by update_time desc
    </select>

    <insert id="insertYdUserCoupon" parameterType="com.yd.service.bean.coupon.YdUserCoupon" useGeneratedKeys="true" keyProperty="id" >
        insert into yd_user_coupon (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{userId,jdbcType=INTEGER},
        #{merchantId,jdbcType=INTEGER},
        #{couponId,jdbcType=INTEGER},
        #{couponTitle,jdbcType=VARCHAR},
        #{couponType,jdbcType=VARCHAR},
        #{couponPrice,jdbcType=INTEGER},
        #{couponDesc,jdbcType=LONGVARCHAR},
        #{useConditionPrice,jdbcType=DECIMAL},
        #{useRangeType,jdbcType=VARCHAR},
        #{canUseItemIds,jdbcType=VARCHAR},
        #{validStartTime,jdbcType=TIMESTAMP},
        #{validEndTime,jdbcType=TIMESTAMP},
        #{nickname,jdbcType=VARCHAR},
        #{mobile,jdbcType=VARCHAR},
        #{useStatus,jdbcType=VARCHAR},
        #{useTime,jdbcType=TIMESTAMP},
        #{outOrderId,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateYdUserCoupon" parameterType="com.yd.service.bean.coupon.YdUserCoupon" >
        update yd_user_coupon
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="merchantId != null" >
                merchant_id = #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="couponId != null" >
                coupon_id = #{couponId,jdbcType=INTEGER},
            </if>
            <if test="couponTitle != null" >
                coupon_title = #{couponTitle,jdbcType=VARCHAR},
            </if>
            <if test="couponType != null" >
                coupon_type = #{couponType,jdbcType=VARCHAR},
            </if>
            <if test="couponPrice != null" >
                coupon_price = #{couponPrice,jdbcType=INTEGER},
            </if>
            <if test="couponDesc != null" >
                coupon_desc = #{couponDesc,jdbcType=LONGVARCHAR},
            </if>
            <if test="useConditionPrice != null" >
                use_condition_price = #{useConditionPrice,jdbcType=DECIMAL},
            </if>
            <if test="useRangeType != null" >
                use_range_type = #{useRangeType,jdbcType=VARCHAR},
            </if>
            <if test="canUseItemIds != null" >
                can_use_item_ids = #{canUseItemIds,jdbcType=VARCHAR},
            </if>
            <if test="validStartTime != null" >
                valid_start_time = #{validStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="validEndTime != null" >
                valid_end_time = #{validEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="nickname != null" >
                nickname = #{nickname,jdbcType=CHAR},
            </if>
            <if test="mobile != null" >
                mobile = #{mobile,jdbcType=CHAR},
            </if>
            <if test="useStatus != null" >
                use_status = #{useStatus,jdbcType=CHAR},
            </if>
            <if test="useTime != null" >
                use_time = #{useTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outOrderId != null" >
                out_order_id = #{outOrderId,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="refundCoupon">
        update yd_user_coupon set use_status = 'N', use_time = null, out_order_id = null
        where user_id = #{userId} and use_status = 'IN' and id = #{userCouponId}
    </update>

    <update id="updateCouponStatusInUse">
        update yd_user_coupon set use_status = 'IN', use_time = now(), out_order_id = #{outOrderId}
        where user_id = #{userId} and use_status = 'N' and id = #{couponId}
    </update>

</mapper>