<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.service.dao.permission.YdRlRolePermissionDao">

	<resultMap id="BASE-RESULT" type="com.yd.service.bean.permission.YdRlRolePermission">
		<result property="id" column="id" />
		<result property="roleId" column="role_id" />
		<result property="permissionId" column="permission_id" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
	<delete id="deleteYdRlRolePermissionById">
		DELETE FROM yd_rl_role_permission WHERE id = #{id}
	</delete>
	
	<delete id="deleteYdRlRolePermissionByRoleId">
		delete from
			yd_rl_role_permission
		where
			role_id=#{roleId}
	</delete>
	
	<select id="findYdRlRolePermissionById" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			yd_rl_role_permission
		WHERE
			id = #{id}
	</select>
	
	<select id="getYdRlRolePermissionCount" parameterType="map" resultType="int">
		SELECT 
			count(*)
		FROM 
			yd_rl_role_permission
		<where>
  			<if test="id!=null">
  				 id = #{id}
  			</if>
  			<if test="roleId!=null">
  				AND role_id = #{roleId}
  			</if>
  			<if test="permissionId!=null">
  				AND permission_id = #{permissionId}
  			</if>
  			<if test="createTime!=null">
  				AND create_time = #{createTime}
  			</if>
		</where>
	</select>
	
	<select id="findYdRlRolePermissionsByPage" parameterType="map" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			yd_rl_role_permission
		<where>
  			<if test="param.id!=null">
  				 id = #{param.id}
  			</if>
  			<if test="param.roleId!=null">
  				AND role_id = #{param.roleId}
  			</if>
  			<if test="param.permissionId!=null">
  				AND permission_id = #{param.permissionId}
  			</if>
  			<if test="param.createTime!=null">
  				AND create_time = #{param.createTime}
  			</if>
		</where>
		LIMIT 
			#{offset},#{rows}
	</select>
	
  	<insert id="insert" parameterType="com.yd.service.bean.permission.YdRlRolePermission">
  		INSERT INTO yd_rl_role_permission ( 
			`id`,`role_id`,`permission_id`,`create_time`			
  		) VALUES (
			#{id},#{roleId},#{permissionId},#{createTime}			
  		)   
    	<selectKey resultType="Integer" keyProperty="id">    
      		SELECT LAST_INSERT_ID()     
		</selectKey>
  	</insert>
  	 
  	 
</mapper>