<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yd.service.dao.permission.YdRoleDao">

	<resultMap id="BASE-RESULT" type="com.yd.service.bean.permission.YdRole">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="createTime" column="create_time" />
		<result property="canDelete" column="can_delete" />
		<result property="merchantId" column="merchant_id" />
		<result property="groupCode" column="group_code" />
	</resultMap>
	
	<delete id="deleteYdRoleById">
		DELETE FROM yd_role WHERE id = #{id}
	</delete>
	
	<update id="updateRoleName">
		update
			yd_role
		set
			name=#{roleName}
		where
			id=#{roleId}
	</update>
	
	<select id="getPermissionListByRoles" resultType="string">
		select
			distinct p.alias
		from
			yd_rl_role_permission rl,
			yd_permission p
		where
			rl.permission_id=p.id and rl.role_id in
		<foreach collection="roleIdList" index="index" item="roleId" open="(" separator="," close=")">
			#{roleId}       
		</foreach>
	</select>
	
	<select id="findYdRoleById" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			yd_role
		WHERE
			id = #{id}
	</select>
	
	<select id="getYdRoleCount" parameterType="map" resultType="int">
		SELECT 
			count(*)
		FROM 
			yd_role
		<where>
  			<if test="id!=null">
  				 id = #{id}
  			</if>
  			<if test="name!=null">
  				AND name = #{name}
  			</if>
  			<if test="createTime!=null">
  				AND create_time = #{createTime}
  			</if>
  			<if test="canDelete!=null">
  				AND can_delete = #{canDelete}
  			</if>
  			<if test="merchantId!=null">
  				AND merchant_id = #{merchantId}
  			</if>
  			<if test="groupCode!=null">
  				AND group_code = #{groupCode}
  			</if>
		</where>
	</select>
	
	<select id="findYdRolesByPage" parameterType="map" resultMap="BASE-RESULT">
		SELECT 
			* 
		FROM 
			yd_role
		<where>
  			<if test="param.id!=null">
  				 id = #{param.id}
  			</if>
  			<if test="param.name!=null">
  				AND name = #{param.name}
  			</if>
  			<if test="param.createTime!=null">
  				AND create_time = #{param.createTime}
  			</if>
  			<if test="param.canDelete!=null">
  				AND can_delete = #{param.canDelete}
  			</if>
  			<if test="param.merchantId!=null">
  				AND merchant_id = #{param.merchantId}
  			</if>
  			<if test="param.groupCode!=null">
  				AND group_code = #{param.groupCode}
  			</if>
		</where>
		LIMIT 
			#{offset},#{rows}
	</select>
	
  	<insert id="insert" parameterType="com.yd.service.bean.permission.YdRole">
  		INSERT INTO yd_role ( 
			`id`,`name`,`create_time`,`can_delete`,`merchant_id`,`group_code`			
  		) VALUES (
			#{id},#{name},#{createTime},#{canDelete},#{merchantId},#{groupCode}			
  		)   
    	<selectKey resultType="Integer" keyProperty="id">    
      		SELECT LAST_INSERT_ID()     
		</selectKey>
  	</insert>
  	 
  	 
</mapper>