<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yd.service.dao.item.YdItemSpecValueDao" >

    <resultMap id="YdItemSpecValueMap" type="com.yd.service.bean.item.YdItemSpecValue" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="item_id" property="itemId" jdbcType="INTEGER" />
        <result column="spec_id" property="specId" jdbcType="INTEGER" />
        <result column="spec_value" property="specValue" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="prop_id" property="propId" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        create_time,
        update_time,
        item_id,
        spec_id,
        spec_value,
        sort,
        prop_id
    </sql>

    <sql id="where">
        <if test="id!=null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="createTime!=null and createTime!=''">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime!=null and updateTime!=''">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="itemId!=null">
            and item_id = #{itemId,jdbcType=INTEGER}
        </if>
        <if test="specId!=null">
            and spec_id = #{specId,jdbcType=INTEGER}
        </if>
        <if test="specValue!=null and specValue!=''">
            and spec_value = #{specValue,jdbcType=VARCHAR}
        </if>
        <if test="sort!=null">
            and sort = #{sort,jdbcType=INTEGER}
        </if>
    </sql>

    <select id="getYdItemSpecValueById" resultMap="YdItemSpecValueMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from yd_item_spec_value
        where id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="getYdItemSpecValueByItemId" resultMap="YdItemSpecValueMap">
    	select
    		*
    	from
    		yd_item_spec_value
    	where
    		item_id=#{itemId}
    </select>
    
    <select id="getYdItemSpecValueIdBySpecId" resultType="int">
    	select
    		id
    	from
    		yd_item_spec_value
    	where
    		spec_id=#{specId}
    </select>

    <select id="findSpecValueListByItemId" resultMap="YdItemSpecValueMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from yd_item_spec_value
        where item_id = #{itemId,jdbcType=INTEGER}
    </select>

    <select id="getAll" parameterType="com.yd.service.bean.item.YdItemSpecValue" resultMap="YdItemSpecValueMap">
        select * from yd_item_spec_value where 1=1
        <include refid="where" />
    </select>


    <insert id="insertYdItemSpecValue" parameterType="com.yd.service.bean.item.YdItemSpecValue" useGeneratedKeys="true" keyProperty="id" >
        insert into yd_item_spec_value (<include refid="Base_Column_List" />)
        values (
        #{id,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP},
        #{itemId,jdbcType=INTEGER},
        #{specId,jdbcType=INTEGER},
        #{specValue,jdbcType=VARCHAR},
        #{sort,jdbcType=INTEGER},
        #{propId,jdbcType=INTEGER}
        )
    </insert>


    <update id="updateYdItemSpecValue" parameterType="com.yd.service.bean.item.YdItemSpecValue" >
        update yd_item_spec_value
        <set>
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="itemId != null" >
                item_id = #{itemId,jdbcType=INTEGER},
            </if>
            <if test="specId != null" >
                spec_id = #{specId,jdbcType=INTEGER},
            </if>
            <if test="specValue != null" >
                spec_value = #{specValue,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>